@tailwind base;
@tailwind components;
@tailwind utilities;


    @font-face {
        font-family: "SchibsetGrotesk";
        src: url("./assets/fonts/SchibstedGrotesk-Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: "SchibsetGroteskMd";
        src: url("./assets/fonts/SchibstedGrotesk-Medium.ttf") format("truetype");
    }
    @font-face {
        font-family: "SchibsetGroteskSemiBold";
        src: url("./assets/fonts/SchibstedGrotesk-SemiBold.ttf") format("truetype");
    }
    @font-face {
        font-family: "SchibsetGroteskBold";
        src: url("./assets/fonts/SchibstedGrotesk-Bold.ttf") format("truetype");
    }

    @layer base {
        .rael-password-input::-ms-reveal,
        .rael-password-input::-ms-clear {
            display: none;
        }

        .rael-number-input::-webkit-inner-spin-button {
            display: none;
        }

        .hide-scrollbar::-webkit-scrollbar {
            background: transparent;
            width: 8px;
        }

        .hide-scrollbar::-webkit-scrollbar-thumb {
            border-radius: 10px;
            border: none;
            background: #9ca3af;
        }
        :root {
            --color-primary-100 : 252 78% 49%;
            --color-primary-80 : 252 78% 60%;
            
            --color-secondary-100 : 272 78% 49%;
            --color-secondary-80 : 272 78% 60%;
            
            --color-black-100 : 252 78% 4%;
            --color-black-80 : 252 5% 39%;

            --color-white-100 : 252 78% 96%;
            --color-white-80 : 252 78% 90%;
            
            --color-neutral-dark-100 : 215 22% 9%;
            --color-neutral-dark-80 : 215 22% 16%;
            --color-neutral-dark-60 : 215 22% 20%;
            --color-neutral-dark-40 : 215 22% 30%;
            
            --color-neutral-light-100 : 0 0% 100%;
            --color-neutral-light-80 : 0 0% 93%;
            --color-neutral-light-60 : 0 0% 84%;
        }
    }

 
@layer components {
    .prose-code-style {
        @apply
    }

    .prose-style {
        @apply dark:prose-invert;
    }

    .sidebar {
        @apply z-40 flex flex-col justify-between items-start  gap-6 fixed top-0 p-6 left-0 h-screen w-[340px] bg-neutral-light-100 border-neutral-light-60 dark:border-neutral-dark-60 shadow-md dark:bg-neutral-dark-60 transition-transform duration-300 ease-in-out;
    }
    
    .onboarding-page {
        @apply p-10
    }
    
    
    .setting-page-section {
        @apply flex flex-col items-start justify-start space-y-10
    }
}

@layer utilities {
    .flex-centered {
        @apply flex flex-col items-center justify-center
    }
    
    .button-gradient {
        @apply bg-gradient-to-tr dark:from-primary dark:to-secondary from-primary to-secondary hover:from-50% transition-transform duration-300 ease-in-out;
    }
    
    .line{
        @apply w-full h-[1px] bg-neutral-light-60 dark:bg-neutral-dark-60
    }
}


@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}
